*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
}
form{
    border: .5px gray solid;
    width: 40vw;
    line-height: 3;
    margin: 100px;
    padding: 10px;
    border-radius: 10px;
}
input{
    border: none;
    border-bottom: 1px solid;
    padding: 5px;
}
button{
    padding: 5px 10px;
}